<h1> <%= @public_program.name %> do <%= @public_agency.name %></h1>
<p>
<%= @public_program.description %>
</p>
<p>
<%= @public_program.valueSpending %>
</p>
<p>
<%= @public_program.dataSpending %>
</p>