<div class="center">
<h1> Lista de Órgãos publicos </h1>

<% if (@public_agencies.empty?)
	%>
	<strong> não foi encontrado nenhum </strong>

	<% else %>
<% @public_agencies.each do |agency| %>
	<center>
	<table>
		<tr>
			<td>
				<%= link_to agency.name, public_agency_path(agency)%>
			</td>
			<td>
			<%= agency.value %>
			</td>
			<td>
			<%= link_to "modificar", edit_public_agency_path(agency) %>
			</td>
			<td>
			<%= link_to "excluir", public_agency_path(agency),method: :delete,
			data: { confirm: "tu tem certeza disso ??? o.O"} %>
			</td>
		</tr>
	</table>
	</center>
<% end %>
<%end%>
</div>
<p>
<%= link_to "Adicionar", new_public_agency_path %>
</p>
