<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",   welcome_about_path %></li>
        <li><%= link_to "Orgaos", public_agencies_path %>
        </li>
        <li> <%= link_to "Programas" , public_programs_index_path %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
<%= yield %>
</div>
</body>
</html>
